@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
:root {
    --deep-twilight: rgb(93, 7, 230);
    --bright-teal-blue: rgb(104, 32, 199);
    --turquoise-surf: rgb(83, 0, 216);
    --frosted-blue: rgb(181, 87, 243);
    --titulo: "Nunito Sans", sans-serif;
    --texto: "Inconsolata", monospace; 
    }
    body{
        background: var(--frosted-blue);
        font-family: var(--texto);
    }
    header{
        background-color: var(--frosted-blue);
    
    }